<header class="app-header">

    <div class="menu-button">
        <button class="sidebar-button" (click)="toggleSidebar()" size="large">
            <i class="pi pi-bars"></i>
        </button>
    </div>
    <div class="header-logo">
        <h2 routerLink="/">MicroApp</h2>
    </div>
    <div class="header-actions">


        <div *appIsLoggedIn class="shopping-cart">
            <p-overlaybadge [value]="cartService.itemCount()" severity="danger">
                <a routerLink="/cart"><i class="pi pi-shopping-cart cart-icon" style="font-size: 1.35rem"></i></a>
            </p-overlaybadge>
        </div>
        <div *appIsNotLoggedIn class="shopping-cart">
            <a routerLink="/auth/login"><i class="pi pi-shopping-cart cart-icon"  style="font-size: 1.35rem"></i></a>
        </div>
        <div class="header-profile">

            <!-- Profile Switcher Dropdown -->
            <div *appIsLoggedIn class="profile-switcher">
                <button class="profile-btn">
                    <i class="bi bi-person-circle"></i>
                    <i class="bi bi-chevron-down chevron"></i>
                </button>
                <div class="profile-menu">
                    <a (click)="goToUserDetail()"><i class="bi bi-person"></i> {{ 'HEADER.PROFILE' | translate }}</a>
                    <a (click)="logout()"><i class="bi bi-box-arrow-right"></i> {{ 'HEADER.LOGOUT' | translate
                        }}</a>
                </div>
            </div>
            <div *appIsNotLoggedIn>
                <div class="header-login">
                    <a routerLink="/auth/login">{{ 'HEADER.LOGIN' | translate }}</a>
                </div>
            </div>
        </div>

   

    </div>
</header>