@use '../../../styles/variables' as *;

.app-footer {
    background: $primary-color;
    padding: $space-4;
    color: $secondary-color;
    text-align: center;

    p {
        color: $primary-contrast;
        margin-bottom: $space-3;
    }

    .social-links {
        display: flex;
        justify-content: center;
        gap: $space-3;

        a {
            color: $primary-contrast;
            font-size: 1.5rem;
            transition: transform 0.2s ease, color 0.2s ease;

            &:hover {
                color: lighten($primary-contrast, 20%);
                transform: scale(1.2);
            }

            i {
                display: block;
            }
        }
    }
}